<main>
  <aside>
      <h2><span>Criar conta</span></h2>
      <p>Cadastre-se e faça parte da comunidade Óleo Descarte, ajude no bem-estar de todos e na conservação da natureza.</p>
      <form>
          <input
          id="nome"
          name="nome"
          type="text"
          placeholder="Nome">
          <input
          id="email"
          name="email"
          type="email"
          placeholder="E-mail">
          <input
          id="senha"
          name="senha"
          type="text"
          placeholder="Senha">
          <input type="submit" value="Cadastrar">
      </form>
      <br />
      <span class="criarConta"><a href="#">Já possui uma conta? Faça Login!</a></span>
  </aside>
  <article>
      <img src="../../../assets/imagens/home.svg" alt="Tela de cadastro - ilustração">
  </article>
</main>
